<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="administration.component.css">
  <title>Administración</title>
</head>
<body>
<div class="banner">
  <div class="title">Administración</div>
  <div class="logout"><a href="#">Cerrar Sesión</a></div>
</div>
<div class="main">
  <div class="left-frame">
    <div class="banner">Usuarios</div>
    <div class="content">
      <a href="#" class="link"><span class="icon">+</span> Añadir</a>
      <a href="#" class="link"><span class="icon">✎</span> Editar</a>
    </div>
    <div class="banner">Roles</div>
    <div class="content">
      <a href="#" class="link"><span class="icon">+</span> Añadir</a>
      <a href="#" class="link"><span class="icon">✎</span> Editar</a>
    </div>
  </div>
  <div class="right-frame">
    <div class="banner">Servicios</div>
    <div class="content">
      <a href="#" class="link">desarrollo_web <span class="icon">✎</span><span class="icon">🔍</span></a>
    </div>
    <div class="profile">
      <img src="user_profile_icon.png" alt="User Profile Icon">
      <div class="username">User_name_1</div>
    </div>
  </div>
</div>
</body>
</html>
