<div class="row">
    <div class="login-image">

        <div class="card-header d-flex justify-content-around pd-form">
            <h4>REGISTRO DE USUARIO</h4>
        </div>

        <!--FORMULARIO-->
        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Nombre(s)*" class="size-input">
                </div>
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Apellido(s)*" class="size-input">
                </div>
            </div>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Tipo de identificacion*" class="size-input">
                </div>
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="No. de identificacion*" class="size-input">
                </div>
            </div>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Correo Electronico*" class="size-input">
                </div>
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Celular*" class="size-input">
                </div>
            </div>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Direccion*" class="size-input">
                </div>
                <div class="col-12 col-md-4">
                    <input type="text" placeholder="Usuario*" class="size-input">
                </div>
            </div>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4">
                    <input type="password" placeholder="Contraseña*" class="size-input">
                </div>
                <div class="col-12 col-md-4">
                    <input type="password" placeholder="Confirmar Contraseña*" class="size-input">
                </div>
            </div>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text">
                    <h6>Nota: Recuerde que la información suministrada debe ser veraz. A fin de asegurar su atención.
                        Ley 1581 año 2012 Art. 4.</h6>
                </div>
            </div>
        </div>

        <div class="COL-12">
            <div class="form-check d-flex justify-content-center">
                <div class="col-8">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Acepto la
                    </label>
                    <label class="check"> politica de protección de datos personales</label>
                </div>
            </div>
        </div>

        <div class="COL-12">
            <div class="d-flex justify-content-center pd-capcha">
                <div class="col-6 capcha d-flex justify-content-around">
                    <div class="col-2">
                        <div class="col-8 box-capcha">
                            <input class="form-check-input input-capcha" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="col-6 text-capcha">
                        <label> No soy un robot </label>
                    </div>
                    <div class="col-4 capcha-img">
                        <img src="../../../assets/Capcha sin fondo.png">
                    </div>
                </div>

            </div>
        </div>

        <div class="COL-12 pd-form">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <button class="btn-header bt-into col-6">Volver</button>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <button class="btn-header bt-into col-6">Continuar</button>
                </div>
            </div>
        </div>



    </div>

</div>